section.persone-profile
    .container
        h2.section-title.text-center Устюгов Сергей
        .persone-profile-head
            .row
                .col-md-4
                    .persone-profile__photo
                        img(src="img/ustugov.jpg", alt="photo")
                .col-sm-6.col-md-4
                    .persone-profile__info
                        .persone-profile__info-row
                            .profile__info-field Дата рождения
                            .profile__info-value 08.04.1992
                        .persone-profile__info-row
                            .profile__info-field Субъект РФ 1:
                            .profile__info-value Республика Татарстан
                        .persone-profile__info-row.profile__info-field--subject2
                            .profile__info-field Субъект РФ 2:
                            .profile__info-value
                        .persone-profile__info-row.profile__info-field--dso
                            .profile__info-field ДСО
                            .profile__info-value -
                        .persone-profile__info-row.profile__info-field--club
                            .profile__info-field Клуб
                            .profile__info-value -
                        
                .col-sm-6.col-md-4
                    .persone-profile__info
                        .persone-profile__info-row
                            .profile__info-field RUS код
                            .profile__info-value 101010
                        .persone-profile__info-row
                            .profile__info-field Статус
                            .profile__info-value.status-active Активный
                        .persone-profile__info-row
                            .profile__info-field FIS код
                            .profile__info-value 101010
                        .persone-profile__info-row
                            .profile__info-field Статус
                            .profile__info-value.status-active Активный
                        .persone-profile__info-row
                            .filters-form__row.d-flex
                                .select-block
                                    i.fas.fa-angle-down.input-arrow
                                    input(type="text" name="athlete-result" id="athlete-result" value="Результаты").filters-form-input
                                    .select-block-drop.hide
                                        p.select-option(data-value='Результаты') Результаты
                                        p.select-option(data-value='Рус пункты') Рус пункты
        .athelete-profile-table
            .row        
                .col-xl-10.offset-xl-1
                    .table-7
                        .table-row.table-row--head
                            button.table-cell1 Дата                                
                                i.fas.fa-angle-double-down.sort-arrow
                            .table-cell2 Место
                            .table-cell3 Субъект РФ
                            .table-cell4 Категория
                            .table-cell5 Дисциплина
                            .table-cell6 Позиция
                            .table-cell7 Пункты
                        
                        a(href="#").table-row.d-flex
                            .table-cell1 10.10.2018                                
                            .table-cell2 Южно-Сахалинск
                            .table-cell3 Сахалинская область
                            .table-cell4 ПФО
                            .table-cell5 15 км КЛ
                            .table-cell6 27
                            .table-cell7 2568

                        a(href="#").table-row.d-flex
                            .table-cell1 10.10.2018                                
                            .table-cell2 Южно-Сахалинск
                            .table-cell3 Сахалинская область
                            .table-cell4 ПФО
                            .table-cell5 15 км КЛ
                            .table-cell6 27
                            .table-cell7 2568

                        a(href="#").table-row.d-flex
                            .table-cell1 10.10.2018                                
                            .table-cell2 Сыктывкар
                            .table-cell3 Республика Коми
                            .table-cell4 ПФО
                            .table-cell5 15 км КЛ
                            .table-cell6 27
                            .table-cell7 2568

                        a(href="#").table-row.d-flex
                            .table-cell1 10.10.2018                                
                            .table-cell2 Сыктывкар
                            .table-cell3 Республика Коми
                            .table-cell4 ПФО
                            .table-cell5 15 км КЛ
                            .table-cell6 27
                            .table-cell7 2568