section.filters-block
	.container
		h2.section-title Спортсмены
		button.show-filters Показать фильтры
		.filters.filters-athletes
			form(action="").filters-form
				.row
					//колонка -1
					.col-md-5.col-xl-3
						.filters-form-column.filters-form-column-1
							.filters-form__row
								label.filters-form__label(for="#athlete-surname") Фамилия
								input.filters-form__label(type="text" name="athlete-surname" id="athlete-surname").filters-form-input
							.filters-form__row
								label.filters-form__label(for="#athlete-name") Имя
								input(type="text" name="athlete-name" id="athlete-name").filters-form-input
							.filters-form__row
								label.filters-form__label(for="#rus-code") РУС код
								input(type="text" name="rus-code" id="rus-code").filters-form-input
							.filters-form__row
								label.filters-form__label(for="#fis-code") ФИС код
								input(type="text" name="fis-code" id="fis-code").filters-form-input
					//колонка -2
					.col-md-7.col-xl-4
						.filters-form-column.filters-form-column-2
							//пол
							.filters-form__row.d-flex
								label.filters-form__label(for="#sex" ) Пол
								.select-block.select-block--sex
									i.fas.fa-angle-down.input-arrow
									input(type="text" name="sex" id="sex" value = "Мужчины").filters-form-input
									.select-block-drop.hide
										p.select-option(data-value='Мужчины') Мужчины
										p.select-option(data-value='Женщины') Женщины
							//субъект
							.filters-form__row.d-flex
								label.filters-form__label(for="#athlete-subject") Субъект РФ
								.select-block
									i.fas.fa-angle-down.input-arrow
									input(type="text" name="athlete-subject" id="athlete-subject" value="Москва").filters-form-input
									.select-block-drop.select-block-drop--subject.hide
										p.select-option(data-value='') Москва
										p.select-option(data-value='') Белгородская область
										p.select-option(data-value='') Брянская область
										p.select-option(data-value='') Владимирская область
										p.select-option(data-value='') Воронежская область
										p.select-option(data-value='') Ивановская область
										p.select-option(data-value='') Калужская область

							//субъект парал
							.filters-form__row.d-flex
								label.filters-form__label(for="athlete-subject-add") Субъект РФ (парал.)
								.select-block
									i.fas.fa-angle-down.input-arrow
									input(type="text" name="athlete-subject" id="athlete-subject-add" value="Москва").filters-form-input
									.select-block-drop.select-block-drop--subject.hide
										p.select-option(data-value='') Москва
										p.select-option(data-value='') Белгородская область
										p.select-option(data-value='') Брянская область
										p.select-option(data-value='') Владимирская область
										p.select-option(data-value='') Воронежская область
										p.select-option(data-value='') Ивановская область
										p.select-option(data-value='') Калужская область

							//статус
							.filters-form__row.d-flex
								label.filters-form__label(for="#athlete-status") Статус
								.select-block.select-block--sex
									i.fas.fa-angle-down.input-arrow
									input(type="text" name="athlete-status" id="athlete-status" value = "Все").filters-form-input
									.select-block-drop.select-block-drop--status.hide
										p.select-option(data-value='Активный код') Активный код
										p.select-option(data-value='Не допущен') Не допущен
										p.select-option(data-value='Дисквалифицирован') Дисквалифицирован
										p.select-option(data-value='Пауза') Пауза
										

					//колонка -3
					.col-md-10.col-xl-5
						.filters-form-column.filters-form-column-3
							.filters-form__row.d-flex
								label.filters-form__label(for="#athlete-club") Клуб
								.select-block.w-100
									i.fas.fa-angle-down.input-arrow
									input(type="text" name="athlete-club" id="athlete-club" value = 'Авангард').filters-form-input
									.select-block-drop.select-block-drop--club.hide
										p.select-option(data-value='1') Авангард
										p.select-option(data-value='2') Авангард
										p.select-option(data-value='3') Авангард
										

							.filters-form__row.d-flex
								label.filters-form__label(for="#athlete-dso") ДСО
								.select-block.w-100
									i.fas.fa-angle-down.input-arrow
									input(type="text" name="athlete-dso" id="athlete-dso" value="Буревестник").filters-form-input
									.select-block-drop.select-block-drop--dso.hide
										p.select-option(data-value='') Буревестник
										p.select-option(data-value='') Буревестник
										p.select-option(data-value='') Буревестник
										

							.filters-form__row.filters-form__row-between.d-flex
								.filters-form__row-part.d-flex
									label.filters-form__label(for="#list-count") Количество записей
									.select-block
										i.fas.fa-angle-down.input-arrow
										input(type="text" name="string-count" id="#string-count" value = "20").filters-form-input
										.select-block-drop.hide
											p.select-option(data-value='20') 20
											p.select-option(data-value='50') 50
											p.select-option(data-value='all') все
								
								.filters-form__row-part.filters-form__part-last.d-flex

									button.filters-form-reload Обновить
										i.fas.fa-sync-alt.icon-reload