section.page-table
	.container
		.main-table-wrapper
			.main-table.main-table--athletes
				.main-table-row.main-table-row--head
					.table--athletes-col.table--athletes-col-1
						.main-table-row__col-rusCode РУС код
						.main-table-row__status
					.table--athletes-col.table--athletes-col-2
						.main-table-row__col-name Фамилия Имя
						.main-table-row__col-birthday Дата рождения
					.main-table-row__col-range Звание
					.table--athletes-col.table--athletes-col-3
						.main-table-row__col-subject Субъект РФ 
						.main-table-row__col-dso ДСО
						.main-table-row__col-club Клуб
				//строка 1
				a(href="athelete-profile.html" ).main-table-row.first-row 
					.table--athletes-col.table--athletes-col-1
						.main-table-row__col-rusCode 108203					
						.main-table-row__status.status-active Активный
					.table--athletes-col.table--athletes-col-2
						.main-table-row__col-name
							.card-table__name.link-item Устюгов Сергей
						.main-table-row__col-birthday 17.03.2000

					.main-table-row__col-range мс

					.table--athletes-col.table--athletes-col-3
						.main-table-row__col-subject Камчатский край
						
						.main-table-row__col-dso -
						
						.main-table-row__col-club Авангард

				//строка 2
				.main-table-row.first-row 
					.table--athletes-col.table--athletes-col-1
						.main-table-row__col-rusCode 108203					
						.main-table-row__status.status-disqual Дисквалификация
					.table--athletes-col.table--athletes-col-2
						.main-table-row__col-name
							a.card-table__name.link-item(href="#" ) 	Абаев Евгений
						.main-table-row__col-birthday 17.03.2000

					.main-table-row__col-range 1р

					.table--athletes-col.table--athletes-col-3
						.main-table-row__col-subject Камчатский край
						
						.main-table-row__col-dso -
						
						.main-table-row__col-club Авангард

				//строка 3
				.main-table-row.first-row 
					.table--athletes-col.table--athletes-col-1
						.main-table-row__col-rusCode 108203					
						.main-table-row__status.status-passive Пауза
					.table--athletes-col.table--athletes-col-2
						.main-table-row__col-name
							a.card-table__name.link-item(href="#" ) 	Абаев Евгений
						.main-table-row__col-birthday 17.03.2000

					.main-table-row__col-range кмс

					.table--athletes-col.table--athletes-col-3
						.main-table-row__col-subject Камчатский край
						
						.main-table-row__col-dso -
						
						.main-table-row__col-club Авангард
				//строка 1
				.main-table-row.first-row 
					.table--athletes-col-1
						.main-table-row__col-rusCode 108203					
						.main-table-row__status.status-active Активный
					.table--athletes-col-2
						.main-table-row__col-name
							a.card-table__name.link-item(href="#" ) 	Абаев Евгений
						.main-table-row__col-birthday 17.03.2000

					.main-table-row__col-range мс

					.table--athletes-col.table--athletes-col-3
						.main-table-row__col-subject Камчатский край
						
						.main-table-row__col-dso -
						
						.main-table-row__col-club Авангард

				//строка 2
				.main-table-row.first-row 
					.table--athletes-col.table--athletes-col-1
						.main-table-row__col-rusCode 108203					
						.main-table-row__status.status-disqual Дисквалификация
					.table--athletes-col.table--athletes-col-2
						.main-table-row__col-name
							a.card-table__name.link-item(href="#" ) 	Абаев Евгений
						.main-table-row__col-birthday 17.03.2000

					.main-table-row__col-range 1р

					.table--athletes-col.table--athletes-col-3
						.main-table-row__col-subject Камчатский край
						
						.main-table-row__col-dso -
						
						.main-table-row__col-club Авангард
				
		.main-table-footer.d-flex
			.main-table--total.d-flex
				p Всего записей:
				span.ml-24.table-total-string 32

			.main-table-pagination.d-flex
				a(href="#!").main-table-pagination-item.active 1
				a(href="#!").main-table-pagination-item 2
				a(href="#!").main-table-pagination-item 3
