section.page-table
	.container
		.main-table-wrapper
			.main-table.main-table--judges
				.main-table-row.main-table-row--head
					.table--judges-col.table--judges-col-1
						.main-table-row__col-judgesCode Код
						.main-table-row__judgesCategory Категория ВК
					.table--judges-col.table--judges-col-2
						.main-table-row__col-name Фамилия Имя
						.main-table-row__col-birthday Дата рождения
					.table--judges-col.table--judges-col-3
						.main-table-row__col-subject Субъект РФ 
						.main-table-row__col-judgesSpecific Специализация
				//строка 1
				a(href="judge-profile.html" ).main-table-row.first-row 
					.table--judges-col.table--judges-col-1
						.main-table-row__col-judgesCode 108203
						.main-table-row__judgesCategory Действующий
					.table--judges-col.table--judges-col-2
						.main-table-row__col-name Авербах Виктор Станиславович
							 	
						.main-table-row__col-birthday 17.03.2000
					.table--judges-col.table--judges-col-3
						.main-table-row__col-subject Камчатский край
						.main-table-row__col-judgesSpecific Главный судья

				//строка 2
				a(href="judge-profile.html" ).main-table-row.first-row 
					.table--judges-col.table--judges-col-1
						.main-table-row__col-judgesCode 108203
						.main-table-row__judgesCategory Действующий
					.table--judges-col.table--judges-col-2
						.main-table-row__col-name Сулейманова Наиля Габдулхалимовна
							 	
						.main-table-row__col-birthday 17.03.2000
					.table--judges-col.table--judges-col-3
						.main-table-row__col-subject Камчатский край
						.main-table-row__col-judgesSpecific Главный судья

				//строка 3
				a(href="judge-profile.html" ).main-table-row.first-row 
					.table--judges-col.table--judges-col-1
						.main-table-row__col-judgesCode 108203
						.main-table-row__judgesCategory Действующий
					.table--judges-col.table--judges-col-2
						.main-table-row__col-name Сулейманова Наиля Габдулхалимовна
							 	
						.main-table-row__col-birthday 17.03.2000
					.table--judges-col.table--judges-col-3
						.main-table-row__col-subject Камчатский край
						.main-table-row__col-judgesSpecific Главный судья
				//строка 4
				a(href="judge-profile.html" ).main-table-row.first-row 
					.table--judges-col.table--judges-col-1
						.main-table-row__col-judgesCode 108203
						.main-table-row__judgesCategory Действующий
					.table--judges-col.table--judges-col-2
						.main-table-row__col-name Сулейманова Наиля Габдулхалимовна
							 	
						.main-table-row__col-birthday 17.03.2000
					.table--judges-col.table--judges-col-3
						.main-table-row__col-subject Камчатский край
						.main-table-row__col-judgesSpecific Главный судья
		.main-table-footer.d-flex
			.main-table--total.d-flex
				p Всего записей:
				span.ml-24.table-total-string 32

			.main-table-pagination.d-flex
				a(href="#!").main-table-pagination-item.active 1
				a(href="#!").main-table-pagination-item 2
				a(href="#!").main-table-pagination-item 3
