section.event-page
    .container
        h2.section-title Заголовок мероприятия
        include _judge_profile-race           
       
        .main-table.main-table--event
            .main-table-row.main-table-row--head
                
                .main-table-row__num №
                .main-table-row__judges Судья                    
                .main-table-row__subject Субъект РФ 
                .main-table-row__city Город                    
                .main-table-row__status Должность
                
            
            a(href="judge-profile.html" ).main-table-row.first-row                
                .main-table-row__num 1
                .main-table-row__judges Авербах Виктор Станиславович                   
                .main-table-row__subject Красноярский край
                .main-table-row__city Красноярск                
                .main-table-row__status Слушатель
            a(href="judge-profile.html" ).main-table-row.first-row                
                .main-table-row__num 2
                .main-table-row__judges Вежеев Семен Алексеевич                   
                .main-table-row__subject Удмуртская Республика
                .main-table-row__city Ижевск              
                .main-table-row__status Слушатель
            a(href="judge-profile.html" ).main-table-row.first-row                
                .main-table-row__num 3
                .main-table-row__judges Ионов Алексей Алексеевич                 
                .main-table-row__subject Республика Татарстан
                .main-table-row__city Набережные Челны               
                .main-table-row__status Судья руководитель службы хронометража и обработки результатов
