.event-page-head
    .persone-profile__info-row.info-row--long
        .profile__info-field Место проведения:
        .profile__info-value Заинск, Республика Татарстан
    .persone-profile__info-row.info-row--long
        .profile__info-field Даты проведения:
        .profile__info-value  31.10 - 03.11.2017