section.main-content
	//- .main-content-img
	//- 	img(src="img/1.png", alt="img")
	.container
		.main-content-wrapper
			.row
				.col-12.col-xl-6
					.main-content-column.main-content-column--live
						h3.title-3.active-item.mb-24 Онлайн трансляции
						.min-table
							//строка 1
							a(href="#").min-table-row.d-flex
								.min-table-row__time.mr-8 07:00 (MCK)
								.min-table-row__range BC ВС
								.link-item.min-table-row__place.mr-8 Южно-Сахалинск
								.min-table-row__distance.mr-8 15 км
								.min-table-row__type.mr-1 КЛ
								.min-table-row__sex Мужчины

							//строка 2
							a(href="#").min-table-row.d-flex.mb-8
								.min-table-row__time.mr-8 07:00 (MCK)
								.min-table-row__range BC
								.link-item.min-table-row__place.mr-8 Новосибирск
								.min-table-row__distance.mr-8 10 км
								.min-table-row__type.mr-1 КЛ
								.min-table-row__sex Женщины

				.col-12.col-xl-6
					.main-content-column
						h3.title-3.mb-24 Последние результаты
						.result-table
							.result-table-item
								a(href="#").result-table-head.d-flex
									.result-table-row__date 19.12.19
									.result-table-row__info.d-flex
										.result-table-row__place Южно-Сахалинск
										.result-table-row__rice Спринт
										.result-table-row__type.text-uppercase кл										
										.result-table-row__symbol -
										.result-table-row__stage Финал
										.result-table-row__sex Мужчины

								.result-table-row.result-table-row--nopadding
									.result-table-list
										a(href="athelete-profile.html").result-list-item.d-flex
											.table-name-num 1. 
											.table-name.mr-8.ml-2 Бессмертных Александр
											.table-region.text-uppercase МОС
											.table-result-time 02:58:2
											.table-result-delta

										a(href="athelete-profile.html").result-list-item.d-flex
											.table-name-num 2.
											.table-name.mr-8.ml-2 Бессмертных Александр
											.table-region.text-uppercase МОС
											.table-result-time 02:58:2
											.table-result-delta +00:10:2

										a(href="athelete-profile.html").result-list-item.d-flex
											.table-name-num 3.
											.table-name.mr-8.ml-2 Бессмертных Александр
											.table-region.text-uppercase МОС
											.table-result-time 02:58:2
											.table-result-delta +00:12:2

							.result-table-item
								a(href="#").result-table-head.d-flex
									.result-table-row__date 19.12.19
									.result-table-row__info.d-flex
										.result-table-row__place Южно-Сахалинск
										.result-table-row__rice Спринт
										.result-table-row__type.text-uppercase кл										
										.result-table-row__symbol -
										.result-table-row__stage Финал
										.result-table-row__sex Мужчины

								.result-table-row.result-table-row--nopadding
									.result-table-list
										a(href="athelete-profile.html").result-list-item.d-flex
											.table-name-num 1. 
											.table-name.mr-8.ml-2 Бессмертных Александр
											.table-region.text-uppercase МОС
											.table-result-time 02:58:2
											.table-result-delta

										a(href="athelete-profile.html").result-list-item.d-flex
											.table-name-num 2.
											.table-name.mr-8.ml-2 Бессмертных Александр
											.table-region.text-uppercase МОС
											.table-result-time 02:58:2
											.table-result-delta +00:10:2

										a(href="athelete-profile.html").result-list-item.d-flex
											.table-name-num 3.
											.table-name.mr-8.ml-2 Бессмертных Александр
											.table-region.text-uppercase МОС
											.table-result-time 02:58:2
											.table-result-delta +00:12:2