section.main-content
	//- .main-content-img
	//- 	img(src="img/1.png", alt="img")
	.container
		.main-content-wrapper
			.row
				.col-12.col-xl-5
					.main-content-column.main-content-column--live
						h3.title-3.active-item.mb-24 Онлайн трансляции
						.min-table
							//строка 1
							.min-table-row.d-flex
								.min-table-row__time.mr-8 07:00 (MCK)
								.min-table-row__range BC ВС
								a(href="#").link-item.min-table-row__place.mr-8 Южно-Сахалинск
								.min-table-row__distance.mr-8 15 км
								.min-table-row__type.mr-1 КЛ
								.min-table-row__sex Мужчины

							//строка 2
							.min-table-row.d-flex.mb-8
								.min-table-row__time.mr-8 07:00 (MCK)
								.min-table-row__range BC
								a(href="#").link-item.min-table-row__place.mr-8 Новосибирск
								.min-table-row__distance.mr-8 10 км
								.min-table-row__type.mr-1 КЛ
								.min-table-row__sex Женщины

				.col-12.col-xl-7
					.main-content-column
						h3.title-3.mb-24 Последние результаты
						.result-table
							.result-table-row
								.result-table-row__date.mr-8 19.12.19
								.result-table-row__info
									a(href="#").result-table-link.d-flex.mb-8
										.result-table-col
											span.result-table-row__place.mr-1 Южно-Сахалинск
											span.result-table-row__rice.mr-1 Спринт
											span.result-table-row__type.text-uppercase.mr-1 кл
										.result-table-col
											span.result-table-row__symbol.mr-1 -
											span.result-table-row__stage.mr-1 Финал
											span.result-table-row__sex Мужчины
									ol.result-table-list
										li.result-table-list-item
											a(href="#").table-name.mr-8.ml-2 Бессмертных Александр
											span.table-region.text-uppercase МОС
											span.table-result-time 02:58:2
											span.table-result-delta

										li.result-table-list-item
											a(href="#").table-name.mr-8.ml-2 Бессмертных Александр
											span.table-region.text-uppercase МОС
											span.table-result-time 03:18:00
											span.table-result-delta + 00:20:0

										li.result-table-list-item
											a(href="#").table-name.mr-8.ml-2 Бессмертных Александр
											span.table-region.text-uppercase МОС
											span.table-result-time 03:18:00
											span.table-result-delta + 00:20:0

										li.result-table-list-item
											a(href="#").table-name.mr-8.ml-2 Бессмертных Александр
											span.table-region.text-uppercase МОС КЕМ
											span.table-result-time 03:18:00
											span.table-result-delta + 00:20:0


							.result-table-row
								.result-table-row__date.mr-8 19.12.19
								.result-table-row__info
									a(href="#").result-table-link.d-flex.mb-8
										span.result-table-row__place.mr-1 Южно-Сахалинск
										span.result-table-row__rice.mr-1 Спринт
										span.result-table-row__type.text-uppercase.mr-1 кл
										span.result-table-row__symbol.mr-1 -
										span.result-table-row__stage.mr-1 Финал
										span.result-table-row__sex Мужчины
									ol.result-table-list
										li.result-table-list-item
											a(href="#").table-name.mr-8.ml-2 Бессмертных Александр
											span.table-region.text-uppercase МОС КЕМ
											span.table-result-time 02:58:2
											span.table-result-delta

										li.result-table-list-item
											a(href="#").table-name.mr-8.ml-2 Бессмертных Александр
											span.table-region.text-uppercase МОС КЕМ
											span.table-result-time 03:18:00
											span.table-result-delta + 00:20:0

										li.result-table-list-item
											a(href="#").table-name.mr-8.ml-2 Бессмертных Александр
											span.table-region.text-uppercase МОС КЕМ
											span.table-result-time 03:18:00
											span.table-result-delta + 00:20:0

										li.result-table-list-item
											a(href="#").table-name.mr-8.ml-2 Бессмертных Александр
											span.table-region.text-uppercase МОС КЕМ
											span.table-result-time 03:18:00
											span.table-result-delta + 00:20:0







