section.page-table
	.container
		.main-table-wrapper
			.main-table
				.main-table-row.main-table-row--head
					.main-table-row__col-date Дата
					.main-table-row__info
					.main-table-row__col-place Место
					.main-table-row__col-subject Субьект РФ
					.main-table-row__col-category Категория
					.main-table-row__col-men Мужчины
					.main-table-row__col-woomen Женщины
					.main-table-row__col-notice Примечание
				//строка 1
				a(href="race-page.html" ).main-table-row
					.main-table-row__col.main-table-row__col-date.d-flex
						span 19.12
						span -
						span 22.12.2019
					.main-table-row__info
						span.card-table__info-item R
						span.card-table__info-item P

					.main-table-row__col-place Новосибириск
						
					.main-table-row__col-subject Новосибириская область
					.main-table-row__col-category ВС

					.main-table-row__col-men
						i.fas.fa-male
						span Спринт КЛ - финал
						span Спринт КЛ - квалиф
						span 10 км КЛ
					.main-table-row__col-woomen
						i.fas.fa-female
						span Спринт КЛ - финал
						span Спринт КЛ - квалиф
						span 10 км КЛ
					.main-table-row__col-notice Примечание

				//строка 2
				a(href="race-page.html" ).main-table-row
					.main-table-row__col-date.d-flex
						span 19.12
						span -
						span 22.12.2019
					.main-table-row__info
						span.card-table__info-item.active-item C
						span.card-table__info-item R
						span.card-table__info-item P


					.main-table-row__col-place Новосибириск						
					.main-table-row__col-subject Новосибириская область
					.main-table-row__col-category ВС

					.main-table-row__col-men
						i.fas.fa-male
						span Спринт КЛ - финал
						span Спринт КЛ - квалиф
						span 10 км КЛ
					.main-table-row__col-woomen
						i.fas.fa-female
						span Спринт КЛ - финал
						span Спринт КЛ - квалиф
						span 10 км КЛ
					.main-table-row__col-notice Примечание

				//строка 3
				a(href="race-page.html" ).main-table-row
					.main-table-row__col-date.d-flex
						span 19.12
						span -
						span 22.12.2019
					.main-table-row__info
						span.card-table__info-item R
						span.card-table__info-item P

					.main-table-row__col-place Новосибириск
						 
					.main-table-row__col-subject Новосибириская область
					.main-table-row__col-category ВС

					.main-table-row__col-men
						i.fas.fa-male
						span Спринт КЛ - финал
						span Спринт КЛ - квалиф
						span 10 км КЛ
					.main-table-row__col-woomen
						i.fas.fa-female
						span Спринт КЛ - финал
						span Спринт КЛ - квалиф
						span 10 км КЛ
					.main-table-row__col-notice Примечание

				//строка 4
				a(href="race-page.html" ).main-table-row
					.main-table-row__col-date.d-flex
						span 19.12
						span -
						span 22.12.2019
					.main-table-row__info
						span.card-table__info-item R
						span.card-table__info-item P

					.main-table-row__col-place Новосибириск
						
					.main-table-row__col-subject Новосибириская область
					.main-table-row__col-category ВС

					.main-table-row__col-men
						i.fas.fa-male
						span Спринт КЛ - финал
						span Спринт КЛ - квалиф
						span 10 км КЛ
					.main-table-row__col-woomen
						i.fas.fa-female
						span Спринт КЛ - финал
						span Спринт КЛ - квалиф
						span 10 км КЛ
					.main-table-row__col-notice Примечание

				//строка 5
				a(href="race-page.html" ).main-table-row
					.main-table-row__col-date.d-flex
						span 19.12
						span -
						span 22.12.2019
					.main-table-row__info
						span.card-table__info-item R
						span.card-table__info-item P

					.main-table-row__col-place Новосибириск
						
					.main-table-row__col-subject Новосибириская область
					.main-table-row__col-category ВС

					.main-table-row__col-men
						i.fas.fa-male
						span Спринт КЛ - финал
						span Спринт КЛ - квалиф
						span 10 км КЛ
					.main-table-row__col-woomen
						i.fas.fa-female
						span Спринт КЛ - финал
						span Спринт КЛ - квалиф
						span 10 км КЛ
					.main-table-row__col-notice Примечание

		.main-table-footer.d-flex
			.main-table--total.d-flex
				p Всего записей:
				span.ml-24.table-total-string 32

			.main-table-pagination.d-flex
				a(href="#!").main-table-pagination-item.active 1
				a(href="#!").main-table-pagination-item 2
				a(href="#!").main-table-pagination-item 3
