section.rules
    .container
        h2.section-title Правила
        .rules-block
            .row
                .col-lg-10.offset-lg-1
                    #rules-accordion
                        .card
                            #headingOne.card-header.active(data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
                                i.fas.fa-angle-down.input-arrow.rotate
                                h5.mb-0
                                    button.btn.btn-link.text-uppercase.rules-item__header
                                        | ПРАВИЛА
                            #collapseOne.collapse.show(aria-labelledby="headingOne" data-parent="#rules-accordion")
                                .card-body
                                    .rules-list
                                        a(href="#!").rules-list-item.pdf-type Правила соревнований по лыжным гонкам (ПСЛГ)
                                        a(href="#!").rules-list-item.pdf-type Правила соревнований по лыжным гонкам (ПСЛГ)
                                        a(href="#!").rules-list-item.exel-type Официальные санкции сезона 2019-2020
                                        a(href="#!").rules-list-item.word-type Отчет ГСК (Образец)
                        .card
                            #headingTwo.card-header(data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
                                i.fas.fa-angle-down.input-arrow
                                h5.mb-0
                                    button.btn.btn-link.collapsed.text-uppercase.rules-item__header
                                        | формы
                            #collapseTwo.collapse(aria-labelledby="headingTwo" data-parent="#rules-accordion")
                                .card-body
                                    .rules-list
                                        a(href="#!").rules-list-item.pdf-type Правила соревнований по лыжным гонкам (ПСЛГ)
                                        a(href="#!").rules-list-item.pdf-type Правила соревнований по лыжным гонкам (ПСЛГ)
                                        a(href="#!").rules-list-item.exel-type Официальные санкции сезона 2019-2020
                                        a(href="#!").rules-list-item.word-type Отчет ГСК (Образец)
                                       
                                        a(href="#!").rules-list-item.pdf-type Правила соревнований по лыжным гонкам (ПСЛГ)
                                        a(href="#!").rules-list-item.pdf-type Правила соревнований по лыжным гонкам (ПСЛГ)
                                        a(href="#!").rules-list-item.exel-type Официальные санкции сезона 2019-2020
                                        a(href="#!").rules-list-item.word-type Отчет ГСК (Образец)
                        .card
                            #headingThree.card-header(data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree")
                                i.fas.fa-angle-down.input-arrow
                                h5.mb-0
                                    button.btn.btn-link.collapsed.text-uppercase.rules-item__header
                                        | гемологация
                            #collapseThree.collapse(aria-labelledby="headingThree" data-parent="#rules-accordion")
                                .card-body
                                    .rules-list
                                        a(href="#!").rules-list-item.pdf-type Правила соревнований по лыжным гонкам (ПСЛГ)
                                        a(href="#!").rules-list-item.pdf-type Правила соревнований по лыжным гонкам (ПСЛГ)
                                        a(href="#!").rules-list-item.exel-type Официальные санкции сезона 2019-2020
                                        a(href="#!").rules-list-item.word-type Отчет ГСК (Образец)
                        .card
                            #headingFour.card-header(data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour")
                                i.fas.fa-angle-down.input-arrow
                                h5.mb-0
                                    button.btn.btn-link.collapsed.text-uppercase.rules-item__header
                                        | РУС пункты
                            #collapseFour.collapse(aria-labelledby="headingFour" data-parent="#rules-accordion")
                                .card-body
                                    .rules-list
                                        a(href="#!").rules-list-item.pdf-type Правила соревнований по лыжным гонкам (ПСЛГ)
                                        a(href="#!").rules-list-item.pdf-type Правила соревнований по лыжным гонкам (ПСЛГ)
                                        a(href="#!").rules-list-item.exel-type Официальные санкции сезона 2019-2020
                                        a(href="#!").rules-list-item.word-type Отчет ГСК (Образец)
